<!-- <div class="container-fluid">
    <div class="row my-3">
        <div class="col-6 offset-3 text-center">
            <h1 class="display-3 ">Welcome to YelpCamp</h1>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg  bg-light navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" width="50" height="50" src="/img/campground.png" alt="Campground Logo (a tent) ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span>
           <div class="hamburger-menu">
               <div class="line line-1"></div>
               <div class="line line-2"></div>
               <div class="line line-3"></div>
           </div>
       </span>
      </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <ul class="navbar-nav d-flex justify-content-center ">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/campgrounds/new">New Campground</a>
                </li>
            </ul>
        </div>
    </div>
</nav>