<!-- <div class="container-fluid">
    <div class="row my-3">
        <div class="col-6 offset-3 text-center">
            <h1 class="display-3 ">Welcome to YelpCamp</h1>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg  bg-light navbar-light static-top  shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" width="50" height="50" src="/img/campground.png" alt="Campground Logo (a tent) ">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span>
           <div class="hamburger-menu">
               <div class="line line-1"></div>
               <div class="line line-2"></div>
               <div class="line line-3"></div>
           </div>
       </span>
      </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto align-items-center">
                <a class="nav-link header-link mx-3" href="/">Home</a>
                <a class="nav-link header-link mx-3" href="/campgrounds">Campgrounds</a>

                <a class="nav-link header-link mx-3" href="/campgrounds/new">New Campground</a>

            </div>
            <div class="navbar-nav align-items-center ">
                <% if(!currentUser){  %>
                    <a class="nav-link header-link mx-3 login-link" href="/login">Login</a>
                    <a class="nav-link header-link mx-3 login-link" href="/register">Register</a>
                    <%} else{%>

                        <a class="nav-link header-link mx-3 login-link" href="/logout">Logout</a>
                        <%}%>
            </div>
        </div>
    </div>
</nav>